/* Navbar.css */
*{
    margin:0;
    border: 0;
    box-sizing: border-box;
}
.navbar {
    color: #000000; /* Update text color */
    padding: 0; /* Remove padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    flex: 1;
    text-align: left;
    margin: 0; /* Remove margin */
}

.navbar-search {
    margin: 0; /* Remove margin */
}

.navbar-search form {
    display: flex;
    margin: 0; /* Remove margin */
}

.navbar-search .btn {
    margin-left: 10px; /* Add margin between the input and the button */
}

.navbar-search .btn-outline-success {
    color: purple; /* Set text color of the search button to purple */
    border-color: purple; /* Set border color of the search button to purple */
}

.navbar-search .btn-outline-success:hover {
    background-color: purple; /* Change background color of search button on hover to purple */
    color: white; /* Change text color of search button on hover to white */
}

.navbar a.nav-link {
    color: purple; /* Set text color of links in the Navbar to purple */
}

.mainNav{
    border-bottom: 1px solid #fff !important;
}