/* app.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(238, 238, 238);

  }
  
 
  
  .model {
    background: rgb(221, 221, 221);
  }
  
Button {
    background: rgb(118, 136, 91);
  }
  
  Button:hover {
    background: rgb(98, 114, 84);
  }
  
  /* Styling links */
*{
  color : black
}
.active-nav-item {
  border-bottom: 2px solid rgb(118, 136, 91);
}

.active-nav-item {
  background-color: rgb(221, 221, 221);
}

.active-nav-link-text{
  background-color: rgb(221, 221, 221);

}