
@media (max-width: 992px) {
    .navitem{
        font-size: 16px !important;
    }
    .links{
        font-size: 16px !important;
        display:  block !important;
    }
}
.links{
    color: white !important;
}

.navitem:hover .links{
    color: rgb(48, 48, 243) !important;
}