app.css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  
  .model {
    background: rgb(221, 221, 221);
  }
  
  
  /* Styling links */
*{
  color : black
}

.links.active {
  color: #401f71;
  text-decoration: underline;
}

.nav-link.active .links {
  color: #401f71;
  text-decoration: underline;
} 
