.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  margin-left: 20px;
  padding: 13px;
  text-decoration: none;
  color: #fff;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: #1c7dc3;
  transition: color 100ms ease-out;
}
.sidebarOption.bg_logout{
  color: rgb(255, 58, 58);
}
.sidebarOption.bg_logout:hover{
  background-color: rgb(255, 58, 58);
  border-radius: 30px;
  color: #fff;
  transition: color 200ms ease-out;
}
.sidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 0 !important;
}

.sidebarOption--active {
  color: var(--twitter-color);
}
