.leftSide {
  width: 100% !important;
  background-color: var(--card-color) !important;
}
.links-active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5f99f7 !important;
}
.mainNav{
  margin-left: -35px;
}
.mainNav a {
  color: black;
}

@media screen and (min-width: 992px) {
  .links-active,
  .links {
    justify-content: start;
  }
  .icon {
    display: block !important;
    margin-left: 16px;
  }
  .leftSide {
    width: 20%;
    padding-right: 16px;
  }
  .leftTweet {
    width: 100% !important;
  }
  .leftTweet .tweetIcon {
    display: none !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
  }
  .mainNav{
    margin-left: 0;
  }
}


.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links:hover {
color: var(--main-color);
}

.icon {
  display: none;
  font-weight: 700;
}
.icon:hover {
  color:var(--main-color);
}
.icon:hover 
.icon-interact {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
/* #bg_logout:hover{
  background:rgb(240, 58, 58);
} */